{%extends "base.html" %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/busqueda.css') }}">
    <div class = "busqueda">
      <div class="titulo">
        <h1>busqueda</h1>
           <form class="especie">
            <label for="especie" class="elegir_especie">especie:</label>
            <select name="especie" id="especie" class = caja_especie required>
              <option value="perro">perro</option>
              <option value="gato">gato</option>
              <option value="otro">otro</option>
            </select>
           </form>
        <form class="nombre">
            <label for="nombre" class="escribir_nombre">nombre:</label>
            <input name="nombre" id="nombre" class="caja_nombre" required>
        </form>
         <form class="raza">
            <label for="raza" class="escribir_raza">raza:</label>
             <input name="raza" id="raza" class="caja_raza" required>
         </form>
         <form class="genero">
            <label for="sexo" class="seleccionar_genero">sexo:</label>
            <select name="sexo" id="sexo" class="caja_genero" required>
                <option value="macho">macho</option>
                <option value="hembra">hembra</option>
            </select>
         </form>
         <form class="ubicacion">
                <label for="ubicacion" class="escribir_ubicacion">ubicacion donde se perdio</label>
                <input name="ubicacion" id="ubicacion" class="ubicacion_caja">
         </form>
        <button id = "buscar" type="submit">buscar</button>
     <div class="mapa_ubicacion">
         <iframe id="mapa" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=%20Buenos%20Aires+()&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
     </div>
    </div>
{%endblock %}
