{% extends "base.html" %} 
{% block title %}Detalles de la Mascota{% endblock %}

{% block content %}

<div class="card">
    <div class="left-column">
        <div class="header">
            {% if mascota['estado'] == 'perdida' %}
                <h1>¡Buscamos a {{ mascota['nombre'] }}!</h1>
            {% elif mascota['estado'] == 'en transito' %}
                <h1>{{ mascota['nombre'] }} está en tránsito</h1>
            {% elif mascota['estado'] == 'en adopcion' %}
                <h1>{{ mascota['nombre'] }} está en adopción</h1>
            {% else %}
                <h1>Detalles de {{ mascota['nombre'] }}</h1>
            {% endif %}
        </div>
        <img src="{{ url_for('static', filename=mascota['foto_url']) }}" alt="{{ mascota['nombre'] }} - {{ mascota['estado'] }}" class="pet-image">
    </div>

    <div class="right-column">
        <div class="details">
            {% if mascota['estado'] == 'perdida' %}
                <h1>SE PERDIÓ EN:</h1>
                <p>Cercanías a {{ mascota['zona'] }}, {{ mascota['barrio'] }}, {{ mascota['localidad'] }}</p>
                <p>el {{ mascota['fecha_publicacion'].strftime('%d de %B de %Y, %H:%M:%S') }} y estamos muy preocupados.</p>
            {% elif mascota['estado'] == 'en transito' %}
                <h1>ESTA EN BUSCA DE UN NUEVO HOGAR</h1>
            {% elif mascota['estado'] == 'en adopcion' %}
                <h1>ADOPTA Y CAMBIA SU VIDA</h1>
            {% else %}
                <h1> </h1>
            {% endif %}
            
            <h3>CARACTERÍSTICAS:</h3>
            <ul>
                <li>Raza: {{ mascota['raza'] }}</li>
                <li>Color: {{ mascota['color'] }}</li>
                <li>Condicion: {{ mascota['condicion'] }}</li>
            </ul>

            {% if mascota['estado'] == 'perdida' %}
                <p><strong>Si tienes información sobre su paradero:</strong><br>
                    favor contactar a {{ mascota['informacion_contacto'] }}</p>
            {% endif %}
        </div>
        <div class="buttom">
                <button href="{{url_for('eliminarMascota', id=mascota['id'])}}" id="delete-btn">Eliminar</button>
        </div>
        <div>
            <p>Por favor, comparte esta publicación en grupos locales de Facebook, WhatsApp u otras redes sociales para ayudarnos a difundir</p>
            <div class="share-buttons">
                <a href="#" class="share-button facebook">Facebook</a>
                <a href="#" class="share-button whatsapp">WhatsApp</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}